<!-- schedule/partials/schedule_item.html -->
<div id="schedule-{{ schedule.pk }}"
    class="mt-2 rounded-3xl dark:border-gray-800 p-4 bg-green-600 flex flex-col justify-between h-full min-h-[250]">
    <div class="flex flex-col gap4">
        <div class="h-28">
            <h1 class="text-4xl text-green-100 font-bold dark:text-green-100 line-clamp-2">{{ schedule.title }}</h1>
            <h1 class="mt-2">{{ schedule.tasks.count }} tasks in this schedule. Remaining
                {{ schedule.remaining_minutes }}m of {{ schedule.total_minutes }}m</h1>
        </div>
        {% if schedule.description %}
        <p
            class="text-green-100 mt-4 mb-4 first-letter:text-5xl first-letter:float-left first-letter:mr-2 first-letter:leading-none">
            {{ schedule.description|capfirst }}</p>
        {% endif %}
    </div>
    <div class="flex flex-row justify-end items-end">
        <a href="{% url 'schedule:schedule_show' schedule.id %}">
            <c-lb.button variant="text" class="mt-4 rounded-xl dark:border-0 dark:bg-green-800 dark:text-green-100">
                <c-lbi n="rmx.folder-open" w="18" h="18"></c-lbi>
                See details
            </c-lb.button>
        </a>
    </div>
</div>