{% load lb_tags %}


<c-layouts.base title="Task Flow">
    <div class="mx-auto max-w-4xl mt-4">
        <div class="grid grid-flow-col grid-rows-3 gap-4">
            <div class="row-span-3 bg-blue-100 dark:bg-blue-900 p-4 rounded-md">
                <h1 class="font-bold text-2xl">Schedule</h1>
                <p class="mt-6">Create and find out about the existing schedules accross the platform.
                    Use a schedule to
                    organize self and balance tasks priorities.
                </p>
            </div>
            <div class="col-span-2 bg-purple-100 dark:bg-purple-900 p-4 rounded-md">
                <h1 class="text-2xl">Create task</h1>
                <p class="mt-6">Add minor errands in order to visualize the backlog.</p>
            </div>
            <div class="col-span-2 row-span-2 bg-teal-100 dark:bg-teal-900 p-4 rounded-md">
                <h1 class="text-2xl">Exchange</h1>
                <p class="mt-6">Move time resources between tasks and schedules.</p>
            </div>
        </div>
    </div>
</c-layouts.base>