<div id="task-{{ task.pk }}">
  <c-lb.card class="bg-base-100 p-3 border border-base-200">
    <div class="flex items-center justify-between">
      <div>
        <div class="flex items-center gap-2">
          <div>
            <input id="task-completed-{{ task.pk }}"
                        type="checkbox"
                        class="checkbox checkbox-primary checkbox-sm"
                        hx-patch="{% url 'todo:task_toggle' task.pk %}"
                        hx-target="#task-{{ task.pk }}"
                        hx-swap="outerHTML"
                        {% if task.completed %}checked{% endif %} />
          </div>
          <h2 class="text-lg font-semibold {% if task.completed %}line-through opacity-60{% endif %}">
            {{ task.title }}
          </h2>
          {% if task.duration_minutes %}
            <c-lb.badge variant="info" size="sm">
              <c-lbi n="rmx.time" w="18" h="18"></c-lbi>
              {{ task.duration_minutes }}m
            </c-lb.badge>
          {% endif %}
          {% if task.completed %}
            <c-lb.badge variant="success" size="sm">
              <c-lbi n="rmx.check-double" w="18" h="18"></c-lbi>
              Completed
            </c-lb.badge>
          {% endif %}
        </div>
        
        {% if task.description %}
          <p class="text-sm opacity-70 mt-1">{{ task.description }}</p>
        {% endif %}

        <!-- HTMX Toggle Checkbox -->
      </div>

      <!-- Actions -->
      <div class="flex gap-2">
        <a href="{% url 'todo:task_update' task.pk %}">
          <c-lb.button variant="outline" size="sm">
            <c-lbi n="rmx.edit" w="18" h="18"></c-lbi>
            Edit
          </c-lb.button>
        </a>
        <c-lb.button variant="error" size="sm"
                     hx-delete="{% url 'todo:task_delete' task.pk %}"
                     hx-target="#task-{{ task.pk }}"
                     hx-swap="outerHTML">
                     <c-lbi n="rmx.delete-bin" w="18" h="18"></c-lbi>
          Delete
        </c-lb.button>
        <!-- <a href="{% url 'todo:task_delete' task.pk %}">
          <c-lb.button variant="error" size="sm">Delete</c-lb.button>
        </a> -->
      </div>
    </div>
  </c-lb.card>
</div>